<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DBCellPhoneRMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-KITOTBB\TICHNUT;initial catalog=DBCellPhoneRM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CellPhoneDBEntities" connectionString="metadata=res://*/EFCellPhone.csdl|res://*/EFCellPhone.ssdl|res://*/EFCellPhone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CellPhoneDBEntities1" connectionString="metadata=res://*/CellPhoneDB.csdl|res://*/CellPhoneDB.ssdl|res://*/CellPhoneDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CellPhoneDBEntities2" connectionString="metadata=res://*/CellPone.csdl|res://*/CellPone.ssdl|res://*/CellPone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CellPhoneDBEntities3" connectionString="metadata=res://*/CellPhoneDB.csdl|res://*/CellPhoneDB.ssdl|res://*/CellPhoneDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CPDBEntities" connectionString="metadata=res://*/NewCellPhoneDB.csdl|res://*/NewCellPhoneDB.ssdl|res://*/NewCellPhoneDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CellPhoneDBEntities4" connectionString="metadata=res://*/CPDB.csdl|res://*/CPDB.ssdl|res://*/CPDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MobilePhoneDBEntities" connectionString="metadata=res://*/MobilePhone.csdl|res://*/MobilePhone.ssdl|res://*/MobilePhone.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ECHC8TD\MALY_SQL;initial catalog=CellPhoneDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
